/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/installed.bin
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tests/
/public/css/
/public/js/
/component/
/storage/patch/*
/app/com*
/public/data/
/public/attachment
/swasocket
/composer.lock
/composer.json
/storage/dist/
