/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/installed.bin
/storage/Blacklist.txt
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tests/
/public/css/
/public/js/
/component/
/storage/patch/*
/app/com*
/public/data/
/public/attachment
/swasocket
/composer.lock
/composer.json
/storage/dist/
/resources/views/auth/loginCustom.blade.php
/resources/views/auth/loginCustom*
/storage/defaultParams.json
/resources/lang/*
!/resources/lang/*.json
/public/logs/
/*.bat
/detection/
/resources/views/welcomeCustom.blade.php
/public/.user.ini
/public/*.html
/*.html
/resources/views/welcomeCustom*
/public/phpinfo.php
/.lingma/
/.vscode/
/discuz/
/.cursor
/docs/*
!/docs/qingframe
.editorconfig
/app/Console/Commands/TcpServerCommand.php
/app/Console/Commands/OpenClawServe.php
/config/openclaw.php
/public/jpush.log
/public/website/
/app/Http/Controllers/DebugController.php
/.user.ini
/config/clitool.php
/app/Console/Commands/Server*.php
/app/Console/Commands/App*.php
/config/cloud.php
/agent/Todo.md
/needUpdate.bin
