{if !$_GPC['infloat'] && !$_GPC['inajax']}
		{if $_W['isfounder'] || !$_S['basic']['hidecopyright']}
		<div class="fui-footer">
			<div class="fui-footer-info soild-after">
				<div class="fui-footer-link">
					{php echo htmlspecialchars_decode($_W['page']['links'], ENT_QUOTES);}
				</div>
			</div>
			<div class="fui-footer-extra">
				<p class="fui-footer-copyright">{$_W['page']['copyright']}</p>
			</div>
		</div>
		{/if}
	</div>
	<!-- 辅助元素，一般用于移动设备下遮罩 -->
	<div class="layadmin-body-shade" layadmin-event="shade"></div>
</div>
<script type="text/javascript">
	var layform, layupload, laydropdown;
	layui.use(['element', 'dropdown', 'form','laydate','upload','code'],function (){
		var form = layui.form,dropdown = layui.dropdown,element = layui.element, upload = layui.upload;
		form.on('radio(ctrls)', function(data){
			var target = $(data.elem).data('target');
			$(target).addClass('layui-hide');;
			$(target+'.form-item'+data.value).removeClass('layui-hide');
		});
		$('.showmenu').on('click',this,function(){
			$(this).dropdown();
		});
		$('a.confirm').on('click',this,function(){
			var comfirmText = $(this).data('text');
			var redirect = $(this).attr('href');
			layer.confirm(comfirmText, {icon: 3, title:'提示'}, function(index){
				window.location.href = redirect;
				layer.close(index);
			});
			return false;
		});
		$('.layui-body [lay-tips]').each(function (index,element) {
			$(element).on({
				mouseenter:function () {
					var tipstr = jQuery(this).attr('lay-tips');
					laytips = layer.tips(tipstr,this,{tips:1});
				},
				mouseleave:function () {
					layer.close(laytips);
				}
			});
		});
		EventInit($('body'));
		if(typeof (FormRender)=='function'){
			FormRender(form);
		}
		if(typeof (UploadRender)=='function'){
			UploadRender(upload);
		}
		if(typeof (DropRender)=='function'){
			DropRender(dropdown);
		}
		layform = form;
		layupload = upload;
		laydropdown = dropdown;
	});
	function DateInit(Obj){
		if (Obj.find('.layui-input-laydate').length>0){
			Obj.find('.layui-input-laydate').each(function(index, element) {
				layui.laydate.render({
					elem: element //指定元素
					,format:'yyyy-MM-dd'
				});
			});
		}
	}
	function EventInit(Obj,inajax=false){
		let options={};
		Obj.find('[layadmin-event]').click(function () {
			let layevent = $(this).attr('layadmin-event');
			let WinBody = $('body');
			switch (layevent) {
				case 'flexible' :
					WinBody.addClass('layadmin-side-spread-sm');
					break;
				case 'shade' :
					WinBody.removeClass('layadmin-side-spread-sm');
					break;
				case 'closedp' :
					var datapicker = $(this).data('dp');
					$(datapicker).val(''),$(datapicker+'-i').val('').dropdown('toggle').focus();
					break;
				case 'updateCache' :
					Core.cacheclear();
					break;
				case 'showqrcode' :
					var qrcode = $(this).data('url');
					let title = typeof($(this).data('title'))=='undefined' ? '使用微信扫描二维码' : $(this).data('title');
					layer.open({
						title:title,
						content: '<div style="width: 200px; height: 200px; margin: 0 auto;"><img src="'+qrcode+'" height="200" width="200" /></div>',
						shade:0.5,
						shadeClose:true
					});
					break;
				case 'fullscreen' :
					let doc=document.documentElement
					if(doc.webkitRequestFullScreen){
						doc.webkitRequestFullScreen();
						document.webkitCancelFullScreen()
					}
					if(doc.mozRequestFullScreen){
						doc.mozRequestFullScreen()
						document.mozCancelFullScreen()
					}
					if(doc.msRequestFullscreen){
						doc.msRequestFullscreen()
						document.msExitFullscreen()
					}
					if($(this).find('.layui-icon-screen-full').length>0){
						$(this).find('.layui-icon-screen-full').removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore');
					}else {
						$(this).find('.layui-icon-screen-restore').addClass('layui-icon-screen-full').removeClass('layui-icon-screen-restore');
					}
					break;
				case 'previewimg' :
					let src = typeof($(this).attr('src'))!='undefined' ? $(this).attr('src') : $(this).attr('data-src');
					let imgtitle = typeof($(this).attr('title'))!='undefined' ? $(this).attr('title') : $(this).attr('data-alt');
					let potos = {
						"title": "图片预览", //相册标题
						"id": 1, //相册id
						"start": 0, //初始显示的图片序号，默认0
						"data": [   //相册包含的图片，数组格式
							{
								"alt": imgtitle,
								"pid": 1, //图片id
								"src": src, //原图地址
								"thumb": src //缩略图地址
							}
						]
					}
					layer.photos({
						photos: potos
					});
					break;
				default :
					return true;
			}
			return false;
		});
		Obj.find('.ajaxshow').click(function(){
			let Elem = $(this);
			let geturl = Elem.attr('href');
			let title = typeof(Elem.attr('title'))!='undefined' ? Elem.attr('title') : Elem.text();
			let width = typeof(Elem.attr('data-width'))!='undefined' ? Elem.attr('data-width') + 'px' : '990px';
			if(typeof(Elem.attr('data-height'))!='undefined'){
				let height = Elem.attr('data-height') + 'px';
				options.area = [width, height];
			}else {
				options.area = width;
			}
			if(typeof(Elem.attr('ajaxhash'))!='undefined'){
				options.id = Elem.attr('ajaxhash');
			}
			Ajaxget(geturl, title, options);
			return false;
		});
		if(inajax && Obj.find('.pagination').length>0){
			Obj.find('.pagination').on("click","a",function (){
				let url = $(this).attr('href');
				if (url!=="" && url.indexOf("#")!==0 && url.indexOf("javascript:")!==0){
					let title = Obj.prev().text();
					options.id = Obj.attr('id');
					Ajaxget(url, title, options);
					return false;
				}
			});
		}
		DateInit(Obj);
	}
	function Ajaxget(url, title="", options={}){
		let WindowId = typeof(options.id)=='undefined' ? 'ajaxwindow' + Wrandom(6) : options.id;
		Core.get(url,function(Html){
			if(Core.isJsonString(Html)){
				var obj = jQuery.parseJSON(Html);
				return Core.report(obj);
			}else{
				let Ajaxwindow;
				if(typeof(options.id)!='undefined'){
					Ajaxwindow = $('#'+options.id);
					Ajaxwindow.html(Html);
					layer.style(layer.index, {
						width: Ajaxwindow.offsetWidth
					});
				}else{
					let params = {
						id:WindowId,
						type:1,
						content:Html,
						title:title,
						shade:0.3,
						area:"990px",
						shadeClose:true,
						skin:'fui-layer'
					}
					for (let i in options){
						params[i] = options[i];
					}
					layer.open(params);
					Ajaxwindow = $('#'+WindowId);
				}
				Ajaxwindow.attr("data-url", url);
				if(Ajaxwindow.find('form.layui-form').length>0){
					var filter = Ajaxwindow.find('form.layui-form').attr('lay-filter');
					FormInit(filter);
					let formrender = "FormRender" + WindowId;
					try {
						if(typeof(eval(formrender))=='function'){
							eval(formrender + "(layform)");
						}
					}catch (e){

					}
				}
				if(Ajaxwindow.find('.layui-code').length>0){
					layui.code();
				}
				EventInit(Ajaxwindow, true);
			}
		},{inajax:1,ajaxhash:WindowId},'html',true);
	}
	function Wrandom(len=8){
		let codes = 'ABCDEFGHIJKLMNPQRSTUVWXYZabcdefghijkmnpqrstuvwxyz23456789';
		let maxPos = codes.length;
		let code = '';
		for (let i = 0; i < len; i++) {
			code += codes.charAt(Math.floor(Math.random() * maxPos));
		}
		return code;
	}
	function FormInit(filter){
		layui.form.render(null, filter);
	}
	function isJsonString(str){
		try {
			if(typeof(jQuery.parseJSON(str)) == "object") {
				return true;
			}
		} catch(e) {
		}
		return false;
	}
	function AjaxReload(WindowId){
		if(WindowId==="" || $("body").find("#"+WindowId).length===0){
			window.location.reload();
		}
		let Ajaxwindow = $('#'+WindowId);
		let url = Ajaxwindow.data('url');
		let title = Ajaxwindow.prev().text();
		layer.closeAll(function (){
			Ajaxget(url, title);
		});
	}
</script>
<style type="text/css">
.w7-window-side, .layui-table-tool-self{display:none !important; visibility:hidden !important;}
* {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.modal, .modal * {-webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
a:hover,a:visited,a:active,a:focus{text-decoration:none;}
.layui-nav .list{border:none;}
h1, .h1, h2, .h2, h3, .h3{margin-top:0; margin-bottom:0;}
.layui-btn:focus{color:#fff !important;}
.layui-form-label{width:92px;}
.layui-input-block{margin-left:126px;}
.layui-detail .layui-form-item{margin-bottom:0;}
.pagination{margin:0 !important;}
.layui-badge .layui-icon {font-size: 10px;}
.must .layui-form-label:after{content:'*'; margin-left:5px; color:#f00; line-height:9px;}
a.layui-badge:hover{color:#fff; cursor:pointer;}
.layui-input-text{line-height:38px;}
.layui-bg-1{background-color: #FFB800!important}
.layui-bg-2{background-color: #1E9FFF !important}
.layui-bg-3{background-color: #FFB800 !important}
.layui-bg-4{background-color: #009688 !important}
.layui-bg-4{background-color: #2F4056 !important}
.layui-bg--1{background-color: #eee !important; color:#666 !important;}
.layui-form-select dl{z-index:9999;}
.layui-input-inline ~ .layui-form-mid{padding: 0 !important; line-height: 38px;}
.layui-side-menu .layui-nav .layui-nav-item .fa {position: absolute;top: 50%;left: 20px;margin-top: -19px;line-height: 40px;}
.layui-nav .layui-nav-child a{line-height: 36px;}
.layui-layout-admin .layui-body > .layui-fluid{min-height: calc(100vh - 150px);}
.dropdown .layui-icon-close{display: none; position: absolute; top: 50%; margin-top: -15px; height: 30px; line-height: 30px; right: 30px; font-size: 20px;}
.dropdown.open .layui-icon-close{display: block;}
.dropdown.open .layui-edge {margin-top: -9px; -webkit-transform: rotate(180deg); transform: rotate(180deg); margin-top: -3px\9;}
</style>
{if !$noclosetag}</body></html>{/if}
{/if}
